{% extends 'base.html.twig' %}

{% block title %}À propos de nous - AltaPro 65
{% endblock %}

{% block body %}
	<main class="main-content">
		<section class="about-section">
			<div class="container">
				<div class="row">
					<div class="col-md-6 about-text">
						<h2>À Propos de nous</h2>
						<p>Alta pro 65 est née d’une expérience de plus de 20 ans. Tout d’abord j’ai commencé grimpeur dans les pins du cap ferret et du bassin d’arcachon, s’en est suivi la création de l’entreprise EURL Cordelag dans le Gers avec une diversification de l’activité en ajoutant la spécialité cordiste (CQP) et terrassement.</p>
						<p>En 2019, j’ai travaillé comme grimpeur élagueur en Nouvelle Zélande pendant deux ans ce qui m’a permis d’élargir mon bagage technique en taille et également en rétention.</p>
						<p>De retour en France en 2021 j’ai créé Altapro et je me spécialise dans les élagages et démontages d’arbres techniques et dangereux nécessitant de la rétention.</p>
						<p>Aujourd’hui nous mettons en avant les tailles techniques et douces et les démontages techniques dans les règles de l’art et nous valorisons vos déchets par le broyage et l’évacuation.</p>
					</div>
					<div class="col-md-6 about-image">
						<img src="{{ asset('/images/Image-12.jpg') }}" alt="Image à propos" class="img-fluid" loading="lazy">
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
