{% extends 'base.html.twig' %}

{% block title %}Page d'accueil - AltaPro 65
{% endblock %}

{% block body %}
<body class="altapro"> 
	<section class="banner d-flex align-items-center justify-content-center text-white text-center">
		<div class="container">
			<h1 class="display-4 text-white">Bienvenue chez Alta Pro 65</h1>
			<p class="lead text-white">Découvrez nos services.</p>
			<a href="{{path ('app_services') }}" class="btn btn-primary cta-button">Explorer</a>
		</div>
	</section>

	<section class="presentation">
		<div class="container">
			<h2>Présentation de notre entreprise :</h2>
			<p>Alta pro 65 est une entreprise à taille humaine spécialisée dans l’élagage, le démontage et l’abattage d’arbres dangereux inaccessibles aux engins :</p>

			<div class="presentation-items d-flex justify-content-between flex-wrap">
				<div class="presentation-item">
					<img src="/Ressources/Images/rouage.png" class="img-fluid" alt="Savoir faire">
					<h3>Savoir faire</h3>
					<p>Riche d’une expérience de 20 ans dans l’activité, nous traitons les chantiers avec professionnalisme et rigueur.</p>
				</div>
				<div class="presentation-item">
					<img src="/Ressources/Images/medaille.png" class="img-fluid" alt="Expertise">
					<h3>Expertise</h3>
					<p>Nous privilégions les tailles douces et raisonnées et les tailles de sécurité sans dégrader l’état sanitaire des arbres.</p>
					<p>Nous valorisons également les déchets en broyant et en fendant le bois pour votre chauffage.</p>
				</div>
				<div class="presentation-item">
					<img src="/Ressources/Images/satisfaction.png" class="img-fluid" alt="Satisfaction">
					<h3>Satisfaction</h3>
					<p>La satisfaction de nos clients est notre priorité, et nous nous engageons à offrir un service irréprochable.</p>
				</div>
			</div>

			<div class="col-md-6 presentation-photo text-center">
				<img src="/Ressources/Images/Image-1.jpg" alt="Photo de l'entreprise" class="img-fluid presentation-img">
			</div>

		</div>
	</section>

{% endblock %}
