{% extends 'base.html.twig' %}

{% block title %}Nos services - AltaPro 65
{% endblock %}


{% block body %}
	<div class="container my-5 services-section">

		<div class="services-container pt-4 px-4">
			<div class="row">
				<div class="col-12">
					<h2 class="text-center">Nos Services</h2>
				</div>
			</div>
			<div
				class="row">
				<!-- Première colonne pour l'image -->
				<div class="col-12 col-xl-4 mb-4 services-photo">
					<img src="/Ressources/Images/Image-3.jpg" alt="Nos services" class="img-fluid rounded shadow-lg">
				</div>

				<!-- Deuxième colonne pour le texte des services -->
				<div class="col-12 col-xl-5 mb-4 services">
					<div class="text-center text-white mb-4">
						<p>Nous proposons une gamme de services adaptés à vos besoins.</p>
						<p>Découvrez les travaux que nous pouvons effectuer :</p>
					</div>

					<div class="row align-items-center justify-content-center">
						<div class="col-4 mb-4">
							<div class="service-item text-center p-3 bg-success text-white rounded shadow">
								<img src="/Ressources/Images/scie.png" class="img-fluid mb-3">
								<h3>Élagage</h3>
							</div>
						</div>
						<div class="col-4 mb-4">
							<div class="service-item text-center p-3 bg-success text-white rounded shadow">
								<img src="/Ressources/Images/escalade.png" class="img-fluid mb-3">
								<h3>Démontage avec rétention</h3>
							</div>
						</div>
						<div class="col-4 mb-4">
							<div class="service-item text-center p-3 bg-success text-white rounded shadow">
								<img src="/Ressources/Images/hache.png" class="img-fluid mb-3">
								<h3>Abattage</h3>
							</div>
						</div>
						<div class="col-4 mb-4">
							<div class="service-item text-center p-3 bg-success text-white rounded shadow">
								<img src="/Ressources/Images/compost.png" class="img-fluid mb-3">
								<h3>Broyage & évacuation</h3>
							</div>
						</div>
						<div class="col-4 mb-4">
							<div class="service-item text-center p-3 bg-success text-white rounded shadow">
								<img src="/Ressources/Images/couper.png" class="img-fluid mb-3">
								<h3>Fendage</h3>
							</div>
						</div>
						<div class="col-4 mb-4">
							<div class="service-item text-center p-3 bg-success text-white rounded shadow">
								<img src="/Ressources/Images/corde.png" class="img-fluid mb-3">
								<h3>Travaux cordiste</h3>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-6 col-xxl-4 mb-4">
							<div class="service-item text-center p-3 bg-success text-white rounded shadow">
								<img src="/Ressources/Images/tyrolienne.png" class="img-fluid mb-3">
								<h3>Parcs accrobranche</h3>
							</div>
						</div>
						<div class="col-6 col-xxl-4 mb-4">
							<div class="service-item text-center p-3 bg-success text-white rounded shadow">
								<img src="/Ressources/Images/cabane.png" class="img-fluid mb-3">
								<h3>Palombières</h3>
							</div>
						</div>
					</div>
				</div>

				<!-- Troisième colonne pour l'information technique -->
				<div class="col-12 col-xl-3 mb-4 services-info">
					<div class="info-box">
						<h3>Brève explications techniques</h3>
						<p>L’accès aux arbres se fait sur corde sans les abimer. Les griffes ne sont utilisées qu’en démontage. La rétention consiste à placer une poulie de démontage en partie haute et un frein de charge en partie basse, cela permet d’attacher et de maîtriser la descente des branches et des billes.</p>
						<p>Nous pratiquons la rétention dès qu’une maison ou un sol fragile est à proximité. Nous broyons les déchets et laissons sur place pour vos massifs ou évacuons.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
